
.main-contacto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    justify-content: center; 
    align-items: center;
    padding: 20px;
    background-color: $azul;
  
    .container {
      display: grid;
      grid-template-columns: 1fr 400px;
      gap: 20px;
      justify-items: start; 
  
      .box-info {
        color: $azul;
  
        .datos {
          color: $blanco;
          padding: 20px;
  
          .contacto {
            color: $naranja;
            background-color: $azul;
            font-weight: bold;
            font-size: 24px;
            padding: 40px;
          }
        }
      }
  
      form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
  
        @media (max-width: 820px) {
          grid-row: 1;
        }
  
        .formulario {
          background-color: transparent;
          color: $naranja;
          padding: 10px;
          margin: 10px 0;
          border: 2px solid $naranja;
          border-radius: 5px;
          width: calc(100% - 20px);
        }
  
        .comentarios {
          background-color: transparent;
          color: $naranja;
          padding: 10px;
          margin: 10px 0;
          border: 2px solid $naranja;
          border-radius: 5px;
          width: calc(100% - 20px);
          height: 200px; 
          resize: vertical;
        }
  
        .pregunta-contacto {
          color: $naranja;
          margin: 10px 0;
          text-align: left;
        }
  
        .newsletter {
          margin-bottom: 10px;
        }
  
        .enviar {
          background-color: $naranja;
          color: $azul;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 100%;
  
          &:hover {
            background-color: darken($naranja, 10%);
          }
        }
      }
    }
  }