body {
  background-color: $azul;
}

.main-contacto {
  position: absolute;
  left: 30%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
  padding: 20px;
  background-color: $azul;
  max-width: 1200px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "formulario box-info";
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .formulario {
      background-color: $azul;
      padding: 20px;
      color: $naranja;
      border-radius: 10px;

      input,
      textarea {
        margin: 10px 0;
        padding: 10px;
        border: 2px solid $naranja;
        border-radius: 5px;
        width: 400px;
      }

      .pregunta-contacto {
        margin-top: 20px;
        text-align: center;
      }
    }

    .box-info {
      background-color: $azul;
      padding: 20px;
      color: $naranja;
      border-radius: 10px;

      .datos {
        margin-bottom: 20px;

        p {
          margin: 5px 0;
        }
      }

      iframe {
        border: 0;
        border-radius: 10px;
        width: 100%;
        height: 300px;
      }
    }

    @media (min-width: 768px) {
      grid-template-areas: "formulario box-info";
    }

    .formulario {
      @media (min-width: 768px) {
        grid-area: formulario;
        width: 100%;
      }
    }

    .box-info {
      @media (min-width: 768px) {
        grid-area: box-info;
        width: 100%;
      }
    }
  }
}
