.main-contacto{
    background-color: rgb(7, 7, 51);
    .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 10, px;
        width: 1600px;
        .box-info {
            color: rgb(7, 7, 51);
            display: flex;
            flex-direction: column;
        
            .datos {
                display: flex;
                flex-direction: column;
                text-align: left;
                color: white;
                padding: 20px;
            
                .contacto {
                    color: $naranja;
                    background-color: $azul;
                    font-weight: bolder;
                    font-size: xx-large;
                    padding: 40px;
                    text-align: left;
                
                }
            }
            
        }
        form {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 45px;
            margin: 6px;
           
            .formulario {
                background-color: transparent;
                color: rgb(247, 83, 23);
                padding: 20px;
                margin: 20px;
                height: 50px;
                width: 500px;
                border-bottom: 2px solid rgb(247, 83, 23);
            }
            textarea {
                color: rgb(247, 83, 23);
                border-bottom: 2px solid rgb(247, 83, 23);
                background-color: transparent;
                padding: 20px;
                margin: 20px;
            
            }
            .pregunta-contacto {
                color: rgb(247, 83, 23);
                padding: 5px;
                margin-left: 5px;
                text-align: left;
            }
        }
    }

}






