
.color-navegacion {    
    background-color: $azul;
    a{
        color: $blanco;
    }
    .active {
        color: $blanco !important;
    }
    
     .nav-izq {
          justify-content: flex-end;
           flex-basis: 0;
           flex-grow: 0;
               ul{
                .dropdown-menu{
                    li{
                        a{
                            color: rgb(7, 7, 51);
                        }
                    }
                }
                 li{
                    
                    a:hover{
                        color: rgb(247, 83, 23);
                    }
                      
                 }
                }
     }

        
    
}
