.main-nosotros{
    h1 {
        background-color: $naranja;
        color: $azul;
        text-align: center;
        font-family: $font_sans-serif;
        padding: 10px;
    }
    .nuestra-historia {
        color: $azul;
        text-align: center;
        font-size: 20px;
        border-bottom: 3px solid $azul;
        border-left: 4px solid $azul;
        padding: 10px;
        margin: 20px;
    }
    h2 {
        color: $azul;
        text-align: center;
        border-right: 4px;
        padding: 10px;
    }
    .servicios{
        .servi {
            margin: 10px;
            padding: 15px;
            color: $azul;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            img {
                height: 350px;
                width: 500px;
                border-radius: 10px;
            }
            p {
                color: $naranja;
                padding: 5px;
                font-size: 35px;
                font-family: $font_arial;
                border-bottom: 5px solid $naranja;
            
            }
        
        }
    } 

}

@media (max-width:375px) {
   .main-nosotros{
    h1{
        margin-right: 60px;
    }
    .nuestra-historia{
        color: $azul;
        text-align: initial;
        font-size: 16px;
        border-bottom: 2px solid $azul;
        border-left: 3px solid $azul;
        padding: 8px;
        margin: 10px;
        height: 376px;
        width: 300px;

    }
    h2{
        color: $azul;
        text-align: center;
        border-right: 4px;
        padding: 10px;
        margin-right: 65px;
    }
    
    .servicios{
        height: 375px;
        width: 375px;
     .servi{
        margin-right: 70px;
         img {
             height: 195px;
             width: 280px;
         }
         p {
             font-size: 18px;
         }
         
     }

    } 
   }
}