.main-obras{
    h1 {
        background-color: $naranja;
        color: $azul;
        text-align: center;
        font-family: $font_sans-serif;
        padding: 10px;
    }
    
    h2 {
        color: $azul;
        text-align: center;
        border-right: 4px;
        padding: 10px;
    }
    .varias-obras {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
        .edificaciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $font_sans-serif;
            box-shadow: 1px 1px 5px 1px;
            padding: 10px;
            margin: 15px;
            img {
                height: 400px;
                width: 350px;
            }
            h3 {
                color: $azul;
                text-align: center;
                padding: 7px;
            }
            .button {
                padding: 7px;
                margin: 5px;
                color: $azul;
                background-color: $naranja;
                border-radius: 5px;
            }
        }
    }
    h3 {
        color: rgb(7, 7, 51);
        text-align: center;
        padding: 7px;
    }
    
    
    .obras1-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .img-1 img,
        .img-2 img,
        .img-3 img,
        .img-4 img,
        .img-5 img,
        .img-6 img {
            
            width: 80%;
            height: auto;
            display: block;
            margin: 30px;
            border-radius: 10px;
            &:hover{
                transform: scale(1.12);
                transition: 3s;

            }

        }

    }

    .obras2-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .photo-1,
        .photo-2,
        .photo-3,
        .photo-4,
        .photo-5,
        .photo-6,
        .photo-7,
        .photo-8{
            img{
                width: 350px;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.12);
                    transition: 3s;
    
                }
               
            }
            width: 90%;
            height: auto;
            display: block;
            margin: 30px;
            
        }
    }
    .obras3-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .imga-1,
        .imga-2,
        .imga-3,
        .imga-4,
        .imga-5,
        .imga-6,
        .imga-7,
        .imga-8{
            img{
                width: 350px;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.12);
                    transition: 3s;
    
                }
            }
            width: 90%;
            height: auto;
            display: block;
            margin: 30px;
           
        }
        
    }
    
    
}

@media (max-width:600px) {
    .edificaciones {
        width: 300px;
        height: 340px;
        img {
            height: 250px;
            width: 200px;
        }
        h3 {
            text-align: center;
            padding: 4px;
        }
        .button {
            padding: 1px;
            margin: 2px;
    
        }

    }
    h3 {
        color: rgb(7, 7, 51);
        text-align: center;
        padding: 7px;
    }
    .obras1-sec{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

        .img-1 img,
        .img-2 img,
        .img-3 img,
        .img-4 img,
        .img-5 img,
        .img-6 img {
            
            width: 295px;
            height: 250px;
            display: block;
            margin: 5px;
            border-radius: 3px;
        }
    }
    .obras2-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .photo-1,
        .photo-2,
        .photo-3,
        .photo-4,
        .photo-5,
        .photo-6,
        .photo-7,
        .photo-8{
            img{
                width: 295px;
                height: 250px;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.12);
                    transition: 3s;
    
                }
               
            }
            width: 90%;
            height: auto;
            display: block;
            margin: 30px;
            
        }
    }
    .obras3-sec{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .imga-1,
        .imga-2,
        .imga-3,
        .imga-4,
        .imga-5,
        .imga-6,
        .imga-7,
        .imga-8{
            img{
                width: 350px;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.12);
                    transition: 3s;
    
                }
            }
            width: 90%;
            height: auto;
            display: block;
            margin: 30px;
           
        }
        
    }


}