.main-obras{
    h1 {
       @extend .titulos-grandes;

    }
    
    h2 {
        color: $azul;
        text-align: center;
        border-right: 4px;
        padding: 10px;
    }
    .varias-obras {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
        .edificaciones {
            @extend .flex-s;
            font-family: $font_sans-serif;
            box-shadow: 1px 1px 5px 1px;
            padding: 10px;
            margin: 15px;
            img {
                height: 400px;
                width: 350px;
            }
            h3 {
                color: $azul;
                text-align: center;
                padding: 7px;
            }
            .button {
                @extend .button;
            }
        }
    }
    h3 {
        color: rgb(7, 7, 51);
        text-align: center;
        padding: 7px;
    }
    
    
    .obras1-sec{
        @extend .grid-obra;

    }

    .obras2-sec{
       @extend .grid-o2;
    }
    .obras3-sec{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        gap: 10px;
        max-width: 1200px;
        margin: 0 auto;
        grid-auto-flow: dense;

        .imga-1,
        .imga-2,
        .imga-3,
        .imga-4,
        .imga-5,
        .imga-6,
        .imga-7,
        .imga-8{
            img{
                width: 318px;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.12);
                transition: 3s;
    
                }
            }
            width: 90%;
            height: auto;
            display: block;
            margin: 30px;
           
        }
        
    }
    
    
}

@media (max-width:600px){
    .main-obras{
        .varias-obras{
            .edificaciones{
                img{
                    height: 369px;
                    width: 320px;
                }

            }
        }
    }
}