.footer-s {
    background-color: $azul;
    width: 100%;
    height: auto;
    position: absolute;

    .foot-sc {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        li {
            @extend .estilos;

            a {
                @extend .estilos;
                font-family: $font_sans-serif;
                padding: 10px;
                margin: 0 10px;

                &:hover {
                    color: $naranja;
                }
            }
        }
    }
    .by{
        @extend .estilos;
        align-items: center;
        font-family: uppercase;
        padding: 3px 5px 0px 47%;
    }

    .iconos-footer {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        li {
            list-style-type: none;

            a {
                list-style-type: none;
                color: $blanco;
                padding: 5px;

                &:hover {
                    color: $naranja;
                }

                ion-icon {
                    font-size: 40px;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    .foot-sc,
    .iconos-footer {
        flex-direction: row;
        align-items: center;

        li {
            text-align: center;
            width: 100%;

            a {
                font-size: 14px;
            }
        }
    }
    .by{
        padding: 3px 5px 0px 46% !important;
    }
}
@media (max-width: 600px){
    .footer-s{
        .foot-sc{
            display: flex;
        justify-content: center;
        padding: 20px 0;
            flex-wrap: wrap;

        }
    }
    .by{
        padding: 3px 5px 0px 41% !important;
    }

}