.footer-s {
    background-color: $azul;
    width: 100%;
    height: auto;
    position: absolute;

    .foot-sc {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        li {
            list-style-type: none;

            a {
                color: white;
                text-decoration: none;
                font-family: $font_sans-serif;
                padding: 10px;
                margin: 0 10px;

                &:hover {
                    color: $naranja;
                }
            }
        }
    }

    .iconos-footer {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        li {
            list-style-type: none;

            a {
                color: white;
                text-decoration: none;
                padding: 5px;

                &:hover {
                    color: $naranja;
                }

                ion-icon {
                    font-size: 40px;
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {

    .foot-sc,
    .iconos-footer {
        flex-direction: row;
        align-items: center;

        li {
            text-align: center;
            width: 100%;

            a {
                font-size: 14px;
            }
        }
    }
}